@media print{
    body{
        margin-right: 5%;
        margin-left: 5%;
        background-color: rgb(24, 24, 24);
    }

    .selLang{
        display: none;
    }

    #info{
        left: 0%;
        position: relative;
        margin-top: 10px;
    }

    #showDesc{
        display: none;
    }

    #godotImage{
        display: block;
        page-break-before: avoid; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: avoid; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid; /* or 'auto' */
    }
    
    #Sdesc{
        display: block;
    }

    .imgShowcase{
        object-fit: cover;
        width: 12em;
        border-radius: 5%;
        cursor: pointer;
        display: block;
    }
}